<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.library.mapper.BorrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cola.library.entity.Borrow">
        <id column="id" property="id" />
        <result column="reader_id" property="readerId" />
        <result column="book_id" property="bookId" />
        <result column="borrow_time" property="borrowTime" />
        <result column="return_time" property="returnTime" />
        <result column="status" property="status" />
        <result column="borrow_day" property="borrowDay" />
        <result column="reborrow_time" property="reborrowTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="op_by" property="opBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reader_id, book_id, borrow_time, return_time, status, borrow_day, reborrow_time, create_time, update_time, op_by
    </sql>

</mapper>
